@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Manrope',sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: auto;
}
/*Blog Seccion*/

#banner{
    background-color: #0096FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px 0;

}
#banner h1{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    
}
#banner a{
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin: auto;
}