@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Manrope',sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: auto;
}
/*Blog Seccion*/

#banner{
    background-color: #0096FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px 0;

}
#banner h1{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    
}
#banner a{
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin: auto;
}
/*Publicacion destacada*/
#publicacion-dest .container{
    margin-top:60px;
}
#publicacion-dest .destacado{
    text-align: left;
    padding: 30px;
    align-items: center;
}
#publicacion-dest h1{font-weight: bold; text-align:center;}
#publicacion-dest .destacado h5{font-weight: bold;}
#publicacion-dest .img-container{
    height: 250px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/img/blog1.jpg");
    margin-bottom: 20px;
}
#publicacion-dest i, span{
    color: #0096ff;
}
hr{
    height: 3px;
    background-color: #0096FF;
}
/*Publicaciones*/
#nuestras-publicaciones .container{
    padding: 50px 25px;
}
#nuestras-publicaciones{
    text-align: center;
}
#nuestras-publicaciones h1{font-weight: bold}
#nuestras-publicaciones h5{font-weight: bold}
#nuestras-publicaciones .carta{
    padding: 5px;
    margin:20px;
    text-align: left;
}
#nuestras-publicaciones .carta:first-child .img-container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/img/blog1.jpg");
}
#nuestras-publicaciones .carta:nth-child(2) .img-container{
    height: 30vh;
    display: flex;
    margin: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/img/blog2.jpg");
}
#nuestras-publicaciones .carta:nth-child(3) .img-container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/img/blog3.jpg");
}
#nuestras-publicaciones i, span{
    color: #0096ff;
}
#nuestras-publicaciones #detalles{
    margin-top: 10px;
}
/*Vista escritorio*/
@media (min-width: 800px){
    /*Publicacion destacada*/
    #publicacion-dest .destacado {
        display: flex;
        flex-direction: row;
        text-align:center;
        align-items: center;
        justify-content: center;
    }
    #publicacion-dest .texto{
        max-width: 50%;
        padding-left: 50px;
        text-align: start;
    }
    #publicacion-dest .img-container{
        background-size: cover;
        width: 600px;
        height: 400px;
        margin-top: 0px;
    }
    /*Publicaciones*/
    #nuestras-publicaciones .container .publicaciones{
        display: flex;
    }
    #nuestras-publicaciones .container p:not(.publicaciones *){
        padding: 20px 200px;
    }
}