@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Manrope',sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: auto;
}

/*seccion Nosotros*/

#banner{
    background-color: #0096FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px 0;

}
#banner h1{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    
}
#banner a{
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin: auto;
}
/*nosotros inicio*/
#nosotros .container{
    display: flex;
    justify-content: center;
}
#nosotros .img-container{
    background-image: url("/img/nosotrosExtracion.jpg");
    background-size:cover;
    background-position: center center;
    max-width: 600px;
    height: 450px;
    width: 500px;
    padding: 200px;
    rotate: -12deg;
    border-radius: 10px;
    margin-top: 100px;
    transform: rotate3d(0,1,1,5deg)
}
#nosotros .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media (max-width: 1000px){
    #nosotros .img-container{
        background-image: url("/img/nosotrosExtracion.jpg");
        display: none;
    }
    #nosotros .texto{
        margin-top: 30px;
        width: 100%;
        padding: 0px 50px;
        display: flex;
        justify-content: center;
        text-align: center;
    }     
}
@media (max-width: 500px) {
    #nosotros .texto{
        margin-top: 30px;
        width: 100%;
        padding: 0px 40px;
        display: flex;
        justify-content: center;
        text-align: center;
    }   
}

/*esfuerzos*/
#esfuerzo .container{
    display: flex;
    justify-content: center;
}
#esfuerzo .img-container{
    background-image: url("/img/NosotrosDExtra.png");
    background-size:cover;
    background-position: center center;
    max-width: 1000px;
    height: 700px;
    width: 700px;
    padding: 100px;
    margin-top: 100px;
}
#esfuerzo .texto{
    width: 100%;
    text-align: initial;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #F0F6FB;
}
@media (max-width: 1000px) {
    /*img de esfuerzo*/
    #esfuerzo .container {
        flex-direction: column;
        text-align:center;
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-top: -60px;
     }
    #esfuerzo .img-container{
        background-image: url("/img/NosotrosDExtra.png");
        max-width: 100%; 
        height: auto;
        margin-top: 35px;
        width: 400px;
        height: 400px;
    } 
    #esfuerzo .texto{
        width: 100%;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
    }
}
/*especialista*/
#nuestros-especialistas .container{
    text-align: center;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
}
#nuestros-especialistas h2{
    margin-top: 50px;
    text-align: center;
}
#nuestros-especialistas .container .doctores {
    align-items: center;
    display:flex;
    padding: 20px 5px;
    justify-content: center;
    margin: 50px;
}
#nuestros-especialistas .container .carta{
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#nuestros-especialistas .container .carta .img{
    max-width: 100%;
    height: auto;
}
#nuestros-especialistas h3{
    padding: 5px;
    text-align: center;
}
#nuestros-especialistas h4{
    padding: 5px;
    text-align: center;
    color: #0096FF;
}
#stilo-icono{
    padding: 0px 15px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 10px;
}
@media (max-width: 1500px){
   /*Especialistas*/
   #nuestros-especialistas .container .doctores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    } 
}
/*Opiniones*/
#opiniones .container{
    text-align: center;
    padding: 0px 10px;
    margin-top: -50px;
}
#opiniones .container .opiniones .carta{
    padding: 20px;
    margin: 30px;
}
#opiniones .img-container{
    margin: auto;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/img/ceo.jpg");
}
#opiniones h4{
    margin-bottom: 0px;
    margin-top: 10px;
}
#opiniones .CEO{
    margin-top: 0px;
}
@media (min-width: 1000px){
    /*Opiniones*/
    #opiniones .container .opiniones{
        display: flex;
    }
}