@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Manrope',sans-serif;
    margin: 0;
    padding: 0;
}
/*seccion Servicios*/

#banner{
    background-color: #0096FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px 0;

}
#banner h1{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    
}
#banner a{
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin: auto;
}
/*Servicios*/
#nuestros-servicios .container{
    text-align: center;
    padding: 80px 10px;
    background-color: #f0f6fb;
}
#nuestros-servicios p{
    display: none;
}
#nuestros-servicios h2{
    margin-top: 0;
}
#nuestros-servicios a{
    text-decoration: none;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
#nuestros-servicios .container .carta{
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
#nuestros-servicios .carta:first-child{

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/blanqueamientodental.png");
    
}
#nuestros-servicios .carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/limpieza-dental.jpg");
}
#nuestros-servicios .carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/anestesico-moderno.jpg");
}
#nuestros-servicios .carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/soportes.jpg");
}
#nuestros-servicios .carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/ortodoncia.jpg");
}
#nuestros-servicios .carta:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/muelas-juicio.jpg");
}
@media (min-width: 1000px){
/*Servicios*/
#nuestros-servicios .servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#nuestros-servicios .carta{
    flex-direction: column;
    height: 380px;
    width: 390px;
    
}
#nuestros-servicios p{
    display: block;
}
}