@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Manrope',sans-serif;
    margin: 0;
    padding: 0;
}

/*BIENVENIDA*/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
}
#hero .container{
    padding: 50px;
}
#hero h2{
    color: #0096ff;
    font-size: 1.7em;
    font-weight:bolder;
}
 #hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#hero .texto{
    width: 40%;
    padding: 0px 30px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: initial;
}
#hero button{
    width: 250px;
}
#hero .img-container{
    background-image: url("img/sonrisa.png");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 400px;
    align-content: center;
}
#hero .container .texto{
    padding: 20px;
}
/*CONTACTANOS*/
#contactanos{
    color: #0096FF;
    background-color: #f0f6fb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contactanos h1{
    padding: 30px 40px;
    font-size: 1.7em;
    font-weight: bold;
}
#contactanos{
    margin-top: 60px;
    padding: 30px 40px;
    font-weight: bold;
}
/*Consejos*/
#consejos .container{
    text-align: center;
    padding: 80px 70px;
}
#consejos .container h4{
    color: #0096FF;
}
#consejos .container h3{
    font-size: 1.4em;
}

/*Servicios*/
#nuestros-servicios .container{
    text-align: center;
    padding: 80px 10px;
    background-color: #f0f6fb;
}
#nuestros-servicios p{
    display: none;
}
#nuestros-servicios h1{
    font-weight: bold;
}
#nuestros-servicios h2{
    margin-top: 0;
}
#nuestros-servicios h3{
    font-weight: bold;
}
#nuestros-servicios a{
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
}
#nuestros-servicios .container .carta{
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}
#nuestros-servicios .carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/blanqueamientodental.png");
    
}
#nuestros-servicios .carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/limpieza-dental.jpg");
}
#nuestros-servicios .carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/anestesico-moderno.jpg");
}
#nuestros-servicios .carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/soportes.jpg");
}
#nuestros-servicios .carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/ortodoncia.jpg");
}
#nuestros-servicios .carta:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/muelas-juicio.jpg");
}
/*especialista*/
#nuestros-especialistas .container{
    text-align: center;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
}
#nuestros-especialistas h2{
    margin-top: 50px;
    text-align: center;
}
#nuestros-especialistas .container .doctores {
    align-items: center;
    display:flex;
    padding: 20px 5px;
    justify-content: center;
    margin: 50px;
}
#nuestros-especialistas .container .carta{
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#nuestros-especialistas .container .carta .img{
    max-width: 100%;
    height: auto;
}
#nuestros-especialistas h3{
    padding: 5px;
    text-align: center;
}
#nuestros-especialistas h4{
    padding: 5px;
    text-align: center;
    color: #0096FF;
}
#stilo-icono{
    padding: 0px 15px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 10px;
}
@media (max-width: 1500px){
   /*Especialistas*/
   #nuestros-especialistas .container .doctores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    } 
}

/*Opiniones*/
#opiniones .container{
    text-align: center;
    padding: 50px 25px;
}
#opiniones .container .opiniones .carta{
    padding: 20px;
    margin: 20px;
}
#opiniones h1{
    font-weight: bold;
    margin-bottom: 20px;
}
#opiniones .img-container{
    margin: auto;
    margin-top: 30PX;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("img/ceo.jpg");
}
#opiniones h4{
    margin-bottom: 0px;
    margin-top: 10px;
}
#opiniones .CEO{
    margin-top: 0px;
}

/*Blog*/
#nuestro-blog .container{
    padding: 50px 25px;
}
#nuestro-blog{
    text-align: center;
}
#nuestro-blog h1{font-weight: bold}
#nuestro-blog h5{font-weight: bold}
#nuestro-blog .carta{
    padding: 5px;
    margin:20px;
    text-align: left;
}
#nuestro-blog .carta:first-child .img-container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("img/blog1.jpg");
}
#nuestro-blog .carta:nth-child(2) .img-container{
    height: 30vh;
    display: flex;
    margin: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("img/blog2.jpg");
}
#nuestro-blog .carta:nth-child(3) .img-container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("img/blog3.jpg");
}
#nuestro-blog i, span{
    color: #0096ff;
}
#nuestro-blog #detalles{
    margin-top: 10px;
}


@media (min-width: 1000px){
    
    /*Consejos*/
    #consejos .container{
        display: flex;
        perspective: 200px;
        justify-content:center;
        align-items: center;
        padding: 150px 25px;
    }
    #consejos .texto{
        width: 50%;
        text-align: initial;
        padding-left: 70px;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.8em;
    }

    #consejos .img-container{
        background-image: url("/img/chica-sonriente.png");
        background-size: cover;
        background-position: center center;
        height: 320px;
        width: 380px;
        border-radius: 10px;
        rotate: -12deg;
        transform: rotate3d(0,1,1,5deg);
        
    }
    #consejos .img-redondo{
        z-index: -1;
        position: absolute;
        background-position: center center;
        background-repeat: no-repeat;
        width: 440px;
        height: 410px;
        background-size: cover;
        background-image: url("/img/redondito.png");
    }

    /*Servicios*/
    #nuestros-servicios .servicios{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #nuestros-servicios .carta{
        height: 380px;
        width: 390px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #nuestros-servicios p{
        display: block;
    }
    #nuestros-servicios a{
        padding: 0px;
        margin: 0px;
    }
    /*Opiniones*/
    #opiniones .container .opiniones{
        display: flex;
    }
    /*Blog*/
    #nuestro-blog .container .publicaciones{
        display: flex;
    }
    #nuestro-blog .container p:not(.publicaciones *){
        padding: 20px 200px;
    }
}
