@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Manrope',sans-serif;
    margin: 0;
    padding: 0;
}
button{
    font-size: 20px;
    font-weight:bold;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: #0096ff;
    border: none;
    color: white;
}
button:hover{
    background-color: #1270b2;
}
.container{
    max-width: 1400px;
    margin: auto;
}
/*NAVBAR menu*/
.navbar {
    background-color: white; /* Cambia el color de fondo según tu preferencia */
    color: #fff; /* Cambia el color del texto según tu preferencia */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid #d5d7d8;
}

.logo {
    flex-grow: 1; /* Permite que el logotipo crezca y ocupe el espacio disponible */
    text-align: center; /* Centra el contenido horizontalmente */
}
.logo img {
    max-width: 100%; /* Ajusta el tamaño del logo según tus necesidades */
    
}
/*icono*/
.social-icons a{
    background-color: #F0F6FB; /* Color plomo */
    border-radius: 30px; /* Hace que el borde sea redondeado (circular) */
    width: 30px; /* Ancho del icono */
    height: 30px; /* Altura del icono (ajusta según tus necesidades) */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons{
    display: flex;
    flex-direction: row;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #0096ff; /* Cambia el color de resaltado según tu preferencia */
}

/* Icono de hamburguesa */
.menu-icon {
    display: none;/* Desaparece cursor hamburguesa*/
    font-size: 24px;
    cursor: pointer;
    color: black;
}
/* Estilos para los íconos de redes sociales en pantallas pequeñas */
.social-icons {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
}

/* Estilos para pantallas pequeñas (responsive) */
@media screen and (max-width: 768px) {
    .menu {
        display: none; /* Oculta la lista de menú en pantallas pequeñas */
        flex-direction: column;
        background-color: white; /* Cambia el color de fondo según tu preferencia */
        position: absolute;
        top: 60px; /* Ajusta la posición vertical del menú según tus necesidades */
        left: 0;
        right: 0;
        padding: 30px 30px;
        justify-content: center;
        align-items: center;
    }

    .menu.active {
        display: flex; /* Muestra la lista de menú cuando el menú está activo */
        transition: 0.5s;
    }

    .menu-icon {
        display: block; /* Muestra el icono de hamburguesa en pantallas pequeñas */
    }
    
}